# Understanding the variables in Python:

In [1]:
x = 3

y = 2

In [2]:
z = x+y

print (z)

5

rules for declaring the variables in python:

In [ ]:
Rule 1 : No Namespace while declaring the variable name.

In [5]:
first name = 'Faiyaz'

print(first name)

SyntaxError: invalid syntax (<ipython-input-5-1cbbde1ec4db>, line 1)

In [8]:
firstname = 'Faiyaz'
print(firstname)

Faiyaz

In [ ]:
Rule no. 2 : a variable name should start with number. **

In [9]:
1name = 'ravi'

print(1name)

SyntaxError: invalid syntax (<ipython-input-9-22fcf70e6407>, line 1)

In [11]:
name1 = 'ravi'

print(name1)

ravi

In [ ]:
Rule no. 3: a variable name should not contain any special characters.
    
    @ # $ % * & --> Special charecters ---> not allowed to use

In [13]:
name@ = 'shifa'

print (name@)

SyntaxError: invalid syntax (<ipython-input-13-d442a977ce9c>, line 1)

In [ ]:
Introduction to datatypes in python:
    
    1. String --> str
    
    2. Numbers --> 2 types -->1). Integers -> int 2). Floats  -> float (decimal)
    
    3. Lists --> list (short form)
    
    4. Tuples --> tuple
    
    5. Dictionaries --> dict

In [ ]:
Classification of Datatypes:
    
    Classified broadly into 2 categories:
        
        1. mutable datatypes --> which we can edit or alter --> flexible
        
        2. immutable datatypes --> which we cannot edit or alter --> fixed

In [ ]:
Introduction to string datatypes : 
    
Definition: a string is a series of characters declared in quotes.
    
Classification: it is classified as an immutable datatype.
    
how to define string datatype: 3 possible ways:
        
        1. single quote --> ''
        
        2. double quotes --> ""
        
        3. triple quotes --> """ """

In [16]:
name = 'naveen'  #single quote
print(name)

naveen

In [17]:
name2 = "arshad"  #double quote
print(name2)

arshad

In [18]:
name3 = """joseph"""  #triple quote
print(name3)

joseph

In [ ]:
Introduction to string methods :

In [19]:
type(name)

str

In [20]:
type(name2)

str

In [21]:
type(name3)

str

In [22]:
type(4)

int

In [24]:
type(8.9)

float

In [33]:
fullname = 'shahbaz ali'

print(fullname)

shahbaz ali

In [34]:
print(fullname.title())

Shahbaz Ali

In [35]:
# request: i want the complete name in capital letters.

In [36]:
print(fullname.upper())

SHAHBAZ ALI

In [37]:
print(fullname.lower())

shahbaz ali